<div id="app-footer"class="app-footer ui-g-12 ui-md-12 ui-lg-12">
    <div class="footer-c">
        <div class="copyright-c ui-g-12 ui-md-7 ui-lg-8">
            © 2020 LR Quality Cleaning Services - ALL rights RESERVED. 
        </div>
        <div class="social-c ui-g-6 ui-md-4 ui-lg-3 ui-g-offset-3 ui-md-offset-1 padding-0">
            <div class="ui-g-12 social-l1">
                <div class="social-l2">
                    <div  class="social-follow-us">Follow us:</div>
                    <div class="social-items">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/lrcleaningservice">
                                <svg-icon class="logo-img" src="./../assets/img/icon-facebook.svg" style="display: flex;" ></svg-icon>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="https://www.instagram.com/lrcleaningservice/?hl=en-us">
                                <svg-icon class="logo-img" src="./../assets/img/icon-instagram.svg" style="display: flex;" ></svg-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

