@import "../../styles.sass"

#app-footer
    background-color: $blue
    min-height: 90px
    .footer-c
        display: block
        padding: .9em
        .copyright-c
            color: $white
            font-size: 12px
            height: 45px
            padding: 1em
        .social-c
            .social-l1
                display: inline-block
                text-align: center
                .social-l2
                    display: inline-flex
                    .social-follow-us
                        color: $white
                        font-size: 12px
                        display: inline-flex
                        padding: 2px
                    .social-items
                        display: inline-flex
                    .social-icon
                        padding: 0 .5em
                        display: inline-flex