<div id="app-header"class="app-header">
    <div class="logo-c ui-g-12 ui-md-4 ui-lg-4">
        <svg-icon class="logo-img" src="./../assets/img/logo-cs.svg" style="display: flex;" ></svg-icon>
    </div>
    <div class="phone-c ui-g-12 ui-md-4 ui-lg-4 ui-md-offset-4 ui-lg-offset-4">
            <a [href]="'tel:+013035071261'" rel="nofollow">
                <fa class="phone-icon" name="phone" size="3x"></fa>
                <h3 class="inline">(303) 507-1261</h3>
            </a>
    </div>
</div>
